
body{
    background-image: url(../img/img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;         
}

.form{
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.4);
}

.main-title>a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    padding-left: 79px;
    text-decoration: none;
}

.header-menu{
    display: flex;
    align-items: center;
    padding-right: 79px;
}

.block-icons{
    padding-right: 53px;
}

.icon-item{
    margin-left: 27px;
    margin-right: 25px;
}


.block-link{
    font-size: 14px;
    color: #fff;
}

.block-link>a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #01813F;
}

svg:hover path{
    fill:#01813F ;
}

.form-auth{
    position: absolute;
    top: calc(50% - 584px/2);
    left: calc(50% - 444px/2);  
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    display: flex;
    justify-content: center;
}

.form-content{
    display: flex;
    flex-direction: column;
    width: 324px;

}

.form-header{
    display: flex;
    justify-content: space-between; 
    margin-top: 31px;
    position: relative;
}

.form-header::before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    transform: translateX(-60px);
    
}

.form-header>h3{
    font-size: 20px;
    color: #434343;
    
}

.pistachio-color-link{
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
    
}

.form-button{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-button>button{
    width: 160px;
    height: 48px;
}

.form-item-or{
    margin-top: 30px;
    text-align: center;
}

.form-item-or>span{
    font-size: 14px;
    color: #848484;
}

.button-facebook{
    background: #305DB8;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    position: relative;
}

.button-facebook>i, .button-google>i{
    margin-right: 38px;
}

.button-google{
    background: #DF4A32;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    position: relative;
}

.button-facebook::before{
    content: "";
    width: 28px;
    height: 1px;
    display: block;
    position: absolute;
    background: #0A162F;
    opacity: 0.1;
    transform: rotateZ(90deg);
    left: 38px;
    top: 50%;
}

.button-google::before{
    content: "";
    width: 28px;
    height: 1px;
    display: block;
    position: absolute;
    background: #2B0D09;
    opacity: 0.1;
    transform: rotateZ(90deg);
    left: 40px;
    top: 50%;
    }

.button-facebook:hover{
    background: #022263;
}

.button-google:hover{
    background: #AB1F09;
}


.form-item-or{
    margin-bottom: 11px;
}

.form-item-or::before{
    content: "";
    display: block;
    position: absolute;
    background: #F2F2F2;
    transform: rotateX(-50%);
    width: 152px;
    height: 1px;
    top: 155px;
}

.form-item-or::after{
    content: "";
    display: block;
    position: absolute;
    background: #F2F2F2;
    transform: rotateX(-50%);
    width: 152px;
    height: 1px;
    top: 155px;
    right: 60px;
}

input[type=text]{
    width: 300px;
    height: 42px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;  
}

input[placeholder]{
    font-size: 14px;
    color: #BEBEBE;
    padding-left: 20px;   
}

:focus::placeholder{
    color: #434343;  
}


input[autofocus]:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
}

.user-input{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.user-checkbox{
    margin-top: 12px;
    margin-bottom: 20px;  
}

.user-checkbox>label{
    font-size: 14px;
    color: #434343;
}

#checkbox-item{
    display: none;
}

.checkbox-style{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    bottom: -7px;
}

input[type="checkbox"]:checked + label::before, 
input[type="checkbox"]:not(:checked) + label::before{
    content: url(../img/svg/check-solid.svg); 
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    bottom: 82px;
}

input[type="checkbox"]:not(:checked) + label::before{
    opacity: 0;
}

input[type="checkbox"]:checked + label::before{
    opacity: 1;
}

.input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.create-account{
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}

.create-account:hover{
    background: #01813F;   
}

.link-undrline:hover{
    text-decoration: underline;
}