.container {
    margin: 0 auto;
    text-decoration: none;
    font-family: sans-serif;
    background: #F2F2F2;
}

.head-menu{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color:  #313131; 
    flex-wrap: wrap;   
}

.header-menu-item{
    display: flex;
    align-items: center;  
}

.head-menu-item{
     display: flex;   
}

.head-menu-item-link{
    color:#fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    padding-right: 35px;
    text-decoration: none;
}

.head-menu-item-link:hover{
    color: #14B9D5;
}

.logo-label{
    color: #fff;
    display: flex;
    align-items: center;    
}

.logo{
    margin-left: 30px;  
}

.label{
    margin-left: 27px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #000;
    padding: 0px 34px;

}

.header-bg{
    background-image: url(/img/header-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
    box-shadow: inset 500px 500px rgba(0,0,0,.4);
}


.title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #fff;
    text-align: center;
    padding-top: 164px;

}

.button{
    text-align: center;
    margin-top: 44px;
}


.button-subscribe{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background-color: #89CA62;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    margin-right: 10px;
}

.button-best-articles{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background-color: #14B9D5;
    width: 170px;
    height: 55px; 
    border-radius: 5px;  
    margin-left: 10px;
}

.title-content{
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 52px;
    background-color: #F2F2F2;
}

.content-posts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    align-items: center;  
    width: 1168px;
    margin: 0 auto;
    background-color: #F2F2F2;
    gap: 30px;
}

.content-posts-item-description{
    padding: 21px 0px 21px 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.content-clients{
    background-image: url(/img/parallax-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.title-clients{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 87px;

}

.cyan-line::before{
    content: "";
    background-color: #18B4CF;
    width: 60px;
    height: 3px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cyan-line{
    padding-bottom: 106px;
}

.content-client-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 191px;
}

.content-client-logo-item{
    padding: 0px 30px;
}

.caption-top{
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    padding-top: 49px;
    padding-bottom: 52px;
}

.caption-item{
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color:  #18B4CF;  
}

.top-rated-img{
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7));
    overflow: hidden;  
}

.public-hot-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(min-content max-content);    
    grid-template-areas: 
    "caption-new caption-new caption-new caption-new"
    "prophecy prophecy prophecy nebula"
    "western western grand grand"
    "wanderlust wanderlust twin twin"
    "prism king king king"; 
    background: rgba(0, 0, 0, 0.0001);
    width: 1168px;
    margin: 0 auto;
    grid-gap: 40px;
    padding-bottom: 78px;
}

.caption-news{
    grid-area: caption-new; 
    padding: 50px 0px 10px 0px; 
    align-self: center;
    justify-self: center;
}

.public-hot-news-prophecy{
    grid-area: prophecy;
    display: grid;           
}

.public-hot-news-prophecy-text{
    grid-column: 2/3;
    grid-row: 1/1;
    display: grid;
    align-content: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);  
}

.public-hot-news-nebula{
    grid-area: nebula;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);   
}

.public-hot-news-western{
    grid-area: western;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.public-hot-news-grand{
    grid-area: grand;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    }
.public-hot-news-wanderlust{
    grid-area: wanderlust;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
    
.public-hot-news-twin{
    grid-area: twin;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);;
}
    
.public-hot-news-prism{
    grid-area: prism;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.public-hot-news-king{
     grid-area: king;
     display: grid;
     background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
 }
        
 .public-hot-news-king-text{
    grid-column: 3/5;
    display: grid;
    align-content: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);  
 }
 
.public-hot-news-item-title{
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 15px;
    margin-right: 14px;  
}

.public-hot-news-item-title-center{
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    padding-top: 10px;
}

.public-hot-news-item-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    margin-right: 14px;  
}

.public-hot-news-img{
    width: 100%;
}

.footer-bg{
    height: 80px;
    background-color: #000;
}

.footer-menu{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1168px;
    margin: 0 auto;     
}

.footer-copy{
    display: grid;
    align-content: center;
}

.footer-copy-item{
    font-size: 13px;
    color: #fff;     
}

.footer-logo{
    display: grid;
    justify-self: right;
    align-self: center;
}

.footer-logo-item-word{
    grid-column: 2/2;
    grid-row: 1;
}


