.head-menu{
    text-align: center;
}

body {
    font-family: sans-serif;
}

.menu-item{
    display: inline-block;
    margin: 25.5px 36px 25.5px 36px;
}


.menu-item-link{
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.content-image-item{
    width: 100%;
    
    
}

.content-slogan{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 48px 0px 38px 0px;
}

.content-text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
   
    margin: 0px 67.5px 0px 67.5px  ;
}
.indent{
    margin-bottom: 28px;
}

.button-get-started{
    text-align: center;
    margin-top: 66px;
    margin-bottom: 99px;
}

.get-started-click{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    background-color: #FF0000;
    padding: 18px 43.5px 17px 42.5px;
    border-radius: 4px;
}

.copyright{
    color: #373737;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-left: 800px;
    margin-bottom: 29px;
    
}