
*{
	 background: #000; 
	
} 


body{
    width: 100%;
	height: 100%;
	font-weight: 800;
	background: #000;
	
}

h2, p{
	color: rgb(245, 223, 29);
	line-height: 150%;
}

h2 {
	text-align: center;
	padding-bottom: 50px;
} 

p{
	font-size: 120%;
}


.star-wars
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 500%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
}

.star-wars-animation
{
	position: absolute;
	top: 100%;
	animation: scroll 30s ease 1s infinite;
	animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53)
}

@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}