

body{
    width: 1920px;
    /* width: 100vw; */
    font-family: 'Montserrat', sans-serif;
    
}


.main-section{
    height: 1012px;
    background-image: url(/img/Sections\ background/section-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}


.header-menu {
    display: flex;
    align-items: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    

}

.name{
    display: flex;
    font-size: 32px;
    margin-left: 6px;
}

.name-part-the{
    color: #fff;
}

.name-part-ham{
    font-weight: 700;
    color: #18CFAB;
}

.logotype {
     margin-left: 380px;
     position: relative;
}

.letter-h{
    position: absolute;
    left: calc(50% - 26px/2);
    top: calc(50% - 32px/2);
}


.header-items{
    margin-left: 305px;
}

.header-item {
    display: flex;
    gap: 21px;
}

.header-item-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

}

.header-item-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 48px;
    
}

.search-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 48px;
}



.search{
    margin-left: 21px;
    
}

.search-item{
    color: rgba(255, 255, 255, 0.6);
}






.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 264px;
    margin-bottom: 129px;
}

.title>h3{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
   
}

.title>h3>span{
    color: #18CFAB;
}

.title>h2{
    margin-top: 22px;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #fff;
    
}

.title>p{
    margin-top: 22px;
    font-size: 34px;
    color: #D4D4D4;
    ;
}


.button{
    display: flex;
    justify-content: center;
    gap: 26px;
    position: relative;
    
}

.button>button{
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    z-index: 5;
    
}


.button-after::before {
    content: "";
    display: block;
    position: absolute;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    background: #fff;
    left: 778px;
    top: 698px;
    z-index: 1;
    
}

.button-after::after {
    content: "";
    display: block;
    position: absolute;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    background: #fff;
    left: 973px;
    top: 698px;
    z-index: 1;
    
}





.button button:last-child{
    background: #00CBF6;
   
}
.button button:first-child{
    background: #18CFAB;
    
}



.navigation-menu{
    display: flex;
    margin-top: 8px;
    margin-bottom: 80px;

}

a{
text-decoration: none;
}

.nav-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 480px;
    height: 367px;
}

.nav-menu-text{
    margin-top: 48px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.pistachio-white{
    color: #fff;
    background: #18CFAB;
}

.grey-pistachio{
    color: #18CFAB;
    background: #1C2A33;
}






.content-title{
    position: relative;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    
}

.content-title::before{
    content: "";
    display: block;
    position: absolute;
    width: 78px;
    height: 1px;
    background: #18CFAB;
    top: 60px;
    left: calc(50% - 78px/2);
}

.content-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 78px;
    height: 1px;
    background: #18CFAB;
    top: 64px;
    left: calc((50% - 78px/2) + 12px); 
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    
}

.content-filter{
    margin-top: 101px;
    margin-bottom: 28px;
}

.content-services{
    display: flex;
    
}


.content-services-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 72px;
    color: #717171;
    box-sizing: border-box;
    background: #F8FCFE;
    border: 1.5px solid #F2F2F2;
    position: relative;
}


.services-link-active{
    background: #18CFAB;
    color: #fff;
    border: 1.5px solid #18CFAB;
}


/* Для фильтра */
.services-link-active::before{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #18CFAB;
    transform: rotate(45deg);
    top: 60px;
    left: calc(50% - 27px/2);
    
}


.content-services-li{    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.content-services-link:hover{
    border: 1.5px solid #18CFAB;
    
}

.content-services-items{
    display: flex;
    margin-bottom: 91px;
    display: none;
}
.content-services-items.active-services{
    display: flex;
    margin-bottom: 91px;
}

.content-services-image{
    width: 192px;
    height: 139px;
}




.hidden{
    display: none;
}



.content-services-text{ 
    margin-left: 15px;
    text-align: justify;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    
}


.block-purchase{
    height: 476px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/img/Sections\ background/section-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    
}

.block-purchase>h2{
    padding-top: 126px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    ;
}

.block-purchase>p{
    margin-top: 12px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;

}

.block-purchase .button>button{
    margin-top: 67px;
    z-index: 5;
}

.button-pseudo::before {
    content: "";
    display: block;
    position: absolute;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    background: #fff;
    left: 875.5px;
    top: 280px;
    z-index: 1;
    
}

.content-amazing-work{
    height: 1117px;
    padding-top: 95px;
    background: #E9EDEF;
}
.content-filter-amazing-work{
    display: flex;
    justify-content: center;
    margin-top: 97px;
    margin-bottom: 71px;
}
.content-amazing-work-items{
    display: flex;
    width: 582px;
    
}


.content-amazing-work-link{
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
    background: #E9EDEF;
    border: 1.5px solid #DADADA;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}


.content-amazing-work-link:hover{
    border: 1.5px solid #18CFAB;
    color: #18CFAB;

}


.content-amazing-work-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    


    margin-bottom: 70px;
}

.content-amazing-work-image-item{
    position: relative;
    width: 285px;
    height: 206px;
}


.content-amazing-work-image-item-hover{
    position: absolute;
    display: none;
    height: 206px;
    width: 285px;
    top: 0;
    left: 0;
    text-align: center;
    border-top: 2px solid #18CFAB;
    background: #E9EDEF;
}

.content-amazing-work-image-item:hover .content-amazing-work-image-item-hover{
    display: block;
    
}

.image-item-hover-text{
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB
}

.image-item-hover-span{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A
}

.image-item-hover-link{
    margin-top: 40px;

}



/* Для табов */
/* .graphic-design {
    display: none;
}

.web-design{
    display: none;
}

.landing-page{
    display: none;
}

.wordpress{
    display: none;
} */

/* Фильтр в блоке Our Amazing Work */
.imageHidden{
    display: none;
}


.loadImage{
    display: none;
}



.svg-load-more{
    margin-right: 15px;
}



.breaking-news>h2{
    margin-top: 82px;
    margin-bottom: 100px;
}

.breaking-news-caption{
    padding-bottom: 10px;
    background: #F8FCFE;
    border: 1px solid #F2F4F5

}

.content-breaking-news{
    /* width: 263px; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 50px;
    padding-bottom: 130px;
}

.content-breaking-news-items{
    position: relative;
}

.content-breaking-news-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 68px;
    right: 0;
    background: #203E38;
    
}

.content-breaking-news-item::after{
    content: url(/img/svg/12\ Feb.svg);
    position: absolute;
    display: block;
    top: 15px;
    right: 20px;
}





h4{
    padding-left: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.breaking-news-caption>span{
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    color: #777777;

}

.content-breaking-news-link:hover .breaking-news-title {
    color: #18CFAB;
}

.content-breaking-news-link:hover .content-breaking-news-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 68px;
    right: 0;
    background: #18CFAB;
    
}


.reviews{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/img/Sections\ background/section-3.jpg);
    height: 853px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pseudo-paragraph{
    padding-top: 98px;
}

.reviews>h2{
    
    padding-bottom: 99px;
    color: #fff;
}

.user-review{
    text-align: center;
}

.user-text{
    padding-top: 36px;
    padding-bottom: 37px;
    font-weight: 300;
    line-height: 30px;
    color: #BBBBBB;
}

.user-name{
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}

.user-profession{
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.user-photo{
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 12px solid #203E38;
    opacity: 0.4;
    overflow: hidden;
    margin: 0 auto;
}

.user-active{
     margin-bottom: 20px;
}

.user-photo>img{
    width: 142px;
    height: 142px;
}

.photo-decrease{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 51px;
    
}

.photo-decrease-item{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 5px solid #203E38;
    opacity: 0.4;
    overflow: hidden;
    
}

.photo-decrease-item-img{
    width: 72px;
    height: 72px;
}

.slide-left-container{
    position: relative;
    display: flex;
    align-self: center;
}


.slide-left{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    

}

.slide-left::before{
    content: url(/img/svg/Forma\ 2.svg);
    display: block;
    position: absolute;
    top:10px;
    left: 10px;
}


.slide-right-container{
    position: relative;
    display: flex;
    align-self: center;
}


.slide-right{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    
}

.slide-right::before{
    content: url(/img/svg/Forma\ 2.svg);
    display: block;
    position: absolute;
    transform: rotate(180deg);
    top:8px;
    left: 14px;
}

.slide-left:hover {
    background: #18CFAB;
    border-color: #18CFAB;
}

.slide-right:hover{
    background: #18CFAB;
    border-color: #18CFAB;
}



.gallery>h2{
    margin-top: 108px;
    margin-bottom: 115px;
}






.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 121px;
    text-align: center;
    background: #22353F;
    
}

.footer-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-logo{
    color:#18CFAB;
}