.container{
    width: 1280px;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0 auto;  
}

* {
    font-family: sans-serif;
    text-decoration: none;
}    
.head-logo{
    margin-top: 50px;
}
.logo-link {
    font-size: 80px;
    line-height: 94px;
    font-family: sans-serif;
    color: #000; 
}
.logo{
    color:#4BCAFF;
}

.head-menu{
    margin-top: 38px;
    background-color: #35444F;
}

.head-menu-item{
    display: flex;
    justify-content:center;
    
}

.menu-item{
    display: flex;
    border-left: 1px solid #fff;
}

.menu-item-link{
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: #fff;
    padding: 24px 40px;   
}

.main-content {
    margin-top: 48px;    
}

.sidebar{
    display: flex;
    justify-content: space-between;     
}

.sidebar-menu{
    height: 400px;
    width: 344px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.sidebar-menu-item-link{
    font-size: 27px;
    line-height: 27px;
    color: #495863;   
    padding: 27px 0px 27px 44px;
    display: inline-block;

}

.main-content-image{
    width: 885px;
    height: 530px;
    border: 1px solid #000000;
    text-align: center;    
}

.main-content-image-item{
    width: 320px;
    padding: 75px 0px;
}

.main-content-text{
    margin-left: 396px;
    margin-top: 37px;
}

.text-margin {
    margin: 34px 0px 54px 0px;
}

.main-content-text-item{
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation{
    display: flex; 
    height: 69px;
    background: rgba(99, 105, 110, 0.48); 
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.footer-navigation-menu{
    display: flex;
    align-items: center; 
}

.footer-navigation-menu-item{
    padding-left: 40px;

}
.footer-navigation-menu-item-link{
    font-size: 28px;
    line-height: 28px;
    font-family: sans-serif;
    color: #0C1927;
}

.footer-navigation-menu-copyright{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.menu-item-link:hover{
    background-color: #222F3A;
}

.main-content-image-item:hover{
    transform: scale(1.2);
    transition: all .2s ease;
    overflow: hidden;
}

.sidebar-menu > li:hover{
    background-color: #DBDBDB;       
    color: #35444F;
    font-size: 27px;
    line-height: 27px;
    padding-left: 30px;
    transition: all 1s ease;
}
    
.footer-navigation-menu-item-link:hover{
    color: #3181A6;
    padding-bottom: 8px;
    border-bottom: 2px solid #3181A6;
    transition: color .3s ease;

}