
@mixin text ($font-size, $font-weight, $color, $line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
};
@mixin flex {
    display: flex;
    justify-content: center;
}