
.button__wrapper{
  display: flex;
  justify-content: flex-end;
  padding-right: 28px;
  max-width: 320px;
 
  &-hidden{
    display: none;
    
  } 
}

.header__button {
  width: 44px;
  height: 37px;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
  margin-top: 23px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-img {
    padding-bottom: 2px;;
    
  }

  &-img-hidden{
    position: absolute;
    top: calc(50% - 15px/2);
    
    
  }
}


@media (min-width:768px){
  .button__wrapper{
    position: static;
    display: none;
  }

}
