@import "_variables";
@import "_mixins";

.footer {
  width: 100%;
  height: 315px;
  background: #000;

  & img {
    height: 34px;
  }
  
  & h2 {
    @include text (14px, bold, #FEFEFE, 22px);
    text-transform: uppercase;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 8px;
  }

  &__icons{
    text-align: center;
    padding: 26px 0px 25px 0px;
    }

    &__text {
      @include text (12px, normal, $footerTextColor, 20px);
      padding: 0px 35px 0px 35px;
      text-align: center;

      &-tablet{
        display: none;
      }
    }

    &__info{
      @include text (14px, normal, $footerTextColor, 24px);
      text-align: center;
    }
}



@media (min-width:768px){
  .footer{
    height: 332px;

    & h2{
      font-size: 16px;
      padding-top: 52px;
      padding-bottom: 22px;
    }

    &__text{
      display: none;

      &-tablet{
        display: block;
        text-align: center;
        @include text (16px, normal, $footerTextColor, 28px);  
      }
    }

    &__icons{
      padding: 37px 0px 34px 0px;
    }
  }

  .footer__info{
    display: none;
  }

  .footer__info-hidden{
    display: block;
    text-align: center;
    @include text (14px, normal, $footerTextColor, 24px); 
  }
}

@media (min-width:1200px){
  
  .footer__icons{
    padding: 48px 0px 34px 0px;
  }
}