@import "_variables";
@import "reset";
@import "_mixins";

.container {
  min-width: $mobile;
  padding-left: 25px;

}

.container>img{
  object-fit: cover;
  max-width: $mobile;
  height: 150px;
}

.header{
  position: relative;
  margin: 0 auto;

&__nav{
  display: none;
  position: absolute;
  width: 182px;
  height: 208px;
  top: 60px;
  left: 163px;
  background: $bgColor;

  &-item{
    height: 30px;
    padding-left: 13px; 
  }
  
  &-item:hover{
    background: $bgColor;
  }
  
  &-item a {
    @include text (11px, normal, $postTextColor, 30px);
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
}


@media (min-width:768px){

  .container{
    max-width: $tablet;
  }

  .container>img{
    object-fit: cover;
    min-width: $tablet;
    height: 361px;
  }

  .header__nav{
    @include flex;
    flex-direction: row;
    position: static;
    min-width: $tablet;
    height: 0;
    padding: 41px 0px 43px 0px;
    background-color: #fff;

    &-item{
      @include flex;
      padding: 0; 
    }
  
    & ul{
      @include flex;
      flex-direction: row;
      gap: 34px;
    }
  
    &-item>a:hover{
      color:  #57A4A4;
      background: #fff;
      
    }
  }
}

@media (min-width:1200px){
  .container{
    max-width: $desktop;
  
  }
  .container>img{
    object-fit: cover;
    min-width: $desktop;
    height: 550px;
  }
  .header__nav{
    min-width: 1200px;
    padding: 45px 0px 51px 0px;

    & ul{
      gap: 68px;
      
    }
  }
  
}