@import "reset";
@import "mixins";
@import "variables";
@import "header";
@import "main";
@import "footer";

body{
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.0001);
    box-sizing: border-box;
    min-width: 373px;
}

