@import "_variables";
@import "_mixins";

.main {
    padding-top: 38px;
}

.posts {
    &__title {
        @include text (14px, bold, $postTextColor, 22px);
        text-transform: uppercase;
    }
    &__content {
        padding-top: 11px;
        padding-bottom: 17px;

        &-tablet{
            display: none;
        }
        &-title {
            @include text(14px, bold, $postTextColor, 30px);
            padding-top: 11px;
        }
        &-comments {
            @include text (11px, normal, #7C7C7C, 20px);
        }
        
        &-text{
            display: none;
        }
    }
}


.instagram__shot {
    margin-top: 60px;
    padding-bottom: 42px;
    padding-left: 25px;
    
    &__title {
        @include text (16px, bold, $postTextColor, 22px);
        text-transform: uppercase;
        padding-bottom: 13px;

        &-tablet{
            display: none;
            padding-left: 385px;
            @include text (13px, bold, $postTextColor, 22px); 
        }
    }

    &-img__hidden {
        display: none;
    }
    &-img__pc{
        display: none;
    }
}


@media (min-width:768px){
    .container{
        max-width: $tablet;
        margin: 0 auto;
    }
    .posts {
        max-width: 560px;
        display: flex;
        flex-direction: column;     

        &__content{
            display: flex;
            padding-top: 32px;
            padding-bottom: 0px;

            &-tablet{
                display: flex;
            }
            &-title{
                padding-top: 0px;
            }
        
            &-text{
                display: flex;
                padding-top: 13px;
                @include text (14px, normal, #5C5C5C, 26px); 
            }
        }
    }

    .post__wrapper{
        padding-left: 21px;
    }
    
    .instagram__wrapper{
        margin: 0 auto;
        @include flex;
        gap: 9px;
        max-width: $tablet;   
    }

    .title__wrapper{
        @include flex;
        max-width: $tablet;
        margin: 0 auto;
    }

    .instagram__shot{
        background: $bgColor;
        max-width: 100%;
        overflow: hidden;
        &-img__hidden{
            display: block;
            }
    
            &__title{
                padding-top: 47px;
                padding-bottom: 35px;
               
                &-tablet{
                    display: inline;
                }
            }
        &-img {
            max-width: 250px;   
        }
    }
}

@media (min-width:1200px){

    .container{
        max-width: $desktop;
        margin: 0 auto;
    }

  .posts{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $desktop;

    &__content{
        display: flex;
      max-width: 580px;
    }
  
    &__title{
        padding-top: 28px;
    }
  }

  .instagram__wrapper{
    @include flex;
      margin: 0 auto;
      gap: 10px;
      max-width: $desktop;
    }

    .title__wrapper{
        @include flex;
        margin: 0 auto;
        max-width: $desktop;   
    }

    .instagram__shot{
        max-width: 100%;
        padding-left: 0;
    }

    .instagram__shot__title{
        
    &-tablet{     
        padding-left: 670px;
    }
    }

    .instagram__shot-img {
        width: 285px;
        
    &__pc{
        display: inline;
        
            }
    }
}