body{
    font-family: sans-serif;
}

.main-content{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
    margin: 0 auto;
}

.company-name-logo-info{
    display: grid;
    grid-template-columns: repeat(3, 306px);
    grid-template-rows: 1fr;
    column-gap: 61px;
    justify-content: center;   
}

.logo-company-name{
    margin-top: 50px;  
}

.logo-image{
    display: block;
    background-image: url(../img/logo3.png);
    background-repeat: no-repeat;
    height: 47px;
    width: 53px;  
}

.company-name-link-item{
    padding-left: 61px;
    color: #fff;
    font-weight: bold;  
    
}
.company-name-link{
    display: inline-block;
    margin-top: 3px;
}

.company-name-link>h2{
    font-size: 29px;
}

.company-name-link>h3{
    font-size: 18px;
}
    
.logo-image:hover{
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    color: #F26522;      
}


.company-name-link:hover .company-name-link-item {
     color: #F26522;  
}  

a {
    text-decoration: none;
}

.info{
    grid-column: 3/3;
    margin-top: 46px;
    justify-self: end;
   
}

.info>a{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}


.number{
    margin-top: 19px;
    text-align: right;
}

.content-item a>p{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    
}
.content-item>a{
    text-decoration: none;
}

.content-item-image{
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #000 0%, #fff 100%);
    border-image-slice: 1; 
}

.content-item>img{
    width: 300px;
    
}

.content-item{
    position: relative;
    overflow: hidden;
     
}

.content{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    row-gap: 36px;
    column-gap: 61px;
    margin-bottom: 35px; 
    margin-top: 22px;
}

.copyright{
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.info>a:hover{
   color: #F26522;
}


.content-item-hover{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    width: 100%;
    transition: all .5s;
    height: 55px;
    margin-top: 10px;
}

.content-item:hover .content-item-hover{
    bottom: 40px;
    color: #F26522;
}

.content-item:hover .content-item-text{
    color: #F26522;
}

.content-item-text{
    color: #F26522;
}


.content-item-price{
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

.content-item-price-text{
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;

}

.content-item-price-value{
    font-size: 20px;
    line-height: 20px;
    padding-left: 16px;
}

.content-item-details{
    margin-top: 29px;
    margin-right: 37px;
    position: relative;
}

.content-item-details>p{
    color: #fff;
    font-size: 14px;
    line-height: 14px; 
    
}

.content-item-details::after{
    content: "";
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    position: absolute;
    display: block;
    height: 7px;
    width: 7px;
    transform: rotateZ(45deg);
    right: -16px;
    top: 10%; 
}

.button{
    position: absolute;
    padding: 8px 16px;
    left: 400px;
    top: 60px;
    font-weight: 600;
    border: none;   
    cursor:pointer;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}